/*Variables*/
/*End variables*/
@font-face {
  font-family: PFBEAUSANSPRO;
  src: url(../fonts/PFBEAUSANSPRO-LIGHTITAL/PFBEAUSANSPRO-REG.TTF);
}
body {
  color: yellow;
  background-color: red;
  font-family: PFBEAUSANSPRO;
}
.navbar {
  background-color: #2f3030;
  border-bottom-width: 0px;
}
.navbar #nav-bar-collapse ul li a:hover {
  color: #16a3b5;
}
.navbar #nav-bar-collapse ul li a:target {
  color: #16a3b5;
}
#about {
  background-color: #16a3b5;
  margin-top: 50px;
  height: 400px;
  color: #2f3030;
  padding-top: 100px;
}
#about .word-dev {
  float: left;
}
#about .company-name {
  font-size: 55px;
  letter-spacing: 7px;
  font-weight: 700;
  line-height: 90%;
  text-shadow: 4px 4px 16px #2f3030;
}
#about .text-about {
  display: inline-block;
  width: 450px;
  padding: 3px;
  background-color: white;
  border-radius: 9px;
  margin-left: 20px;
}
#services {
  background-color: #292b2a;
  color: #16a3b5;
  height: 250px;
  padding-top: 40px;
}
#services #services-text {
  border: 2px solid #16a3b5;
  border-radius: 9px;
  width: 90px;
}
#services #services-text p {
  margin-bottom: 0px;
}
#team {
  background-color: #9d9f9e;
  color: #292b2a;
  height: 200px;
  padding-top: 15px;
  font-weight: bold;
}
#team #team-text {
  border: 2px solid #292b2a;
  border-radius: 9px;
  width: 70px;
}
#team #team-text p {
  margin-bottom: 0px;
}
#team .team-faces {
  margin-top: 15px;
}
#team .team-faces .team-face {
  width: 100px;
  height: 100px;
}
#projects {
  background-color: #292b2a;
  color: #9d9f9e;
  height: 250px;
  padding-top: 20px;
  box-shadow: inset 0px -10px 30px #1f221f;
}
#projects #projects-text {
  border: 2px solid #9d9f9e;
  border-radius: 9px;
  width: 90px;
}
#projects #projects-text p {
  margin-bottom: 0px;
}
#contacts {
  background-color: #2f3030;
  color: #16a3b5;
  height: 150px;
  padding-top: 50px;
}
#contacts #contacts-text-company {
  height: 60px;
  border-right: 2px solid #9d9f9e;
  font-weight: bold;
  padding-right: 35px;
}
#contacts #contacts-text-moar {
  height: 60px;
  padding-left: 35px;
}
#contacts #contacts-text-moar span {
  padding: 0px 10px;
}
#contacts p {
  margin-top: 16px;
  font-size: 18px;
}
.bottom-blue-line {
  background-color: #16a3b5;
  color: #2f3030;
  height: 35px;
}
.bottom-blue-line p {
  margin-bottom: 0px;
  margin-top: 5px;
  font-weight: bold;
}