body {
    color:yellow;
}

.max-height {
    height:100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.brand-image {
    border-radius:50%;
}

.about {
    background-color:#16a3b5;
    margin-top:51px;
    height:250px;
}

.services{
    background-color:#292b2a;
    height:250px;
}

.team{
    background-color:#9d9f9e;
    height:250px;
}

.projects{
    background-color:#292b2a;
    height:250px;
}

.contacts {
    background-color:#2f3030;
    height:250px;
}

.bottom-blue-line{
    background-color:#16a3b5;
    height:25px;
}