<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Logic.Properties.Settings.blogDataBaseConnectionString"
            connectionString="Data Source=193.124.117.93;Initial Catalog=blogDataBase;User ID=sa;Password=gasdevS"
            providerName="System.Data.SqlClient" />
        <add name="Logic.Properties.Settings.blogDataBaseConnectionString1"
            connectionString="Data Source=193.124.117.93;Initial Catalog=blogDataBase;Persist Security Info=True;User ID=sa;Password=gasdevS"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>